In [38]:
import json
js = json.dumps(invent)
fd = open('invent.json','w')
fd.write(js)
fd.close()

In [39]:
f= open('invent.json','r')
r = f.read()
records = json.loads(r)

In [40]:
for i in records:
  print('Product ID:{} | Name: {} | Company: {} | RAM: {} | Cost: {}'.format(i, records[i]['name'], records[i]['company'], records[i]['ram'], records[i]['cost']))

Product ID:1001 | Name: iPhone 12 Pro Max | Company: Apple | RAM: 16 | Cost: 115900
Product ID:1002 | Name: Galaxy S21 Ultra | Company: Samsung | RAM: 8 | Cost: 105999
Product ID:1003 | Name: Mi 11 Ultra | Company: Xiaomi | RAM: 8 | Cost: 69999
Product ID:1004 | Name: ROG Phone 5 | Company: Asus | RAM: 8 | Cost: 49999
Product ID:1005 | Name: X60 Pro Plus | Company: Vivo | RAM: 6 | Cost: 69990
Product ID:1006 | Name: 9 Pro | Company: OnePlus | RAM: 8 | Cost: 64999
Product ID:1007 | Name: 7 Legend | Company: iQOO | RAM: 8 | Cost: 39990
Product ID:1008 | Name: Nord 2 | Company: OnePlus | RAM: 6 | Cost: 29999
Product ID:1009 | Name: X7 Max | Company: Realme | RAM: 16 | Cost: 24921
Product ID:1010 | Name: Mi 10i | Company: Xiaomi | RAM: 8 | Cost: 23999
Product ID:1011 | Name: Galaxy M31s | Company: Samsung | RAM: 8 | Cost: 16999
Product ID:1012 | Name: Redmi Note 10 Pro Max | Company: Xiaomi | RAM: 8 | Cost: 21999
Product ID:1013 | Name: Redmi 9 Prime | Company: Xiaomi | RAM: 6 | Cost: 10499
Product ID:1014 | Name: C3 | Company: Realme | RAM: 6 | Cost: 8999
Product ID:1015 | Name: Redmi 9A | Company: Xiaomi | RAM: 4 | Cost: 6999
Product ID:1016 | Name: Galaxy M21 | Company: Samsung | RAM: 6 | Cost: 12999
Product ID:1017 | Name: 9 Power | Company: Redmi | RAM: 4 | Cost: 11499
Product ID:1018 | Name: A31 | Company: Oppo | RAM: 8 | Cost: 12490
Product ID:1019 | Name: A74 | Company: OPPO | RAM: 6 | Cost: 17990
Product ID:1020 | Name: narzo 30 | Company: realme | RAM: 4 | Cost: 15499
Product ID:1021 | Name: Galaxy M42 | Company: Samsung | RAM: 4 | Cost: 22999
Product ID:1022 | Name: 9R 5G | Company: OnePlus | RAM: 4 | Cost: 39999
Product ID:1023 | Name: Galaxy M02s | Company: Samsung | RAM: 6 | Cost: 10499
Product ID:1024 | Name: POVA 2 | Company: Tecno | RAM: 8 | Cost: 10999
Product ID:1025 | Name: Spark 7T | Company: Tecno | RAM: 4 | Cost: 9499
Product ID:1026 | Name: Galaxy M51 | Company: Samsung | RAM: 4 | Cost: 21999
Product ID:1027 | Name: 11X 5G | Company: Mi | RAM: 3 | Cost: 27999
Product ID:1028 | Name: Note 10T | Company: Redmi | RAM: 3 | Cost: 16999
Product ID:1029 | Name: Nord CE 5G | Company: OnePlus | RAM: 2 | Cost: 22999
Product ID:1030 | Name: note 6 pro | Company: Redmi | RAM: 4 | Cost: 11999

In [41]:
fd = open("invent.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [42]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

print("*" * 30)
print("Product: ", records[ui_prod]['name'])
print("Company: ", records[ui_prod]['company'])
print("RAM: ", records[ui_prod]['ram'], "GB")
print("Price: ", records[ui_prod]['cost'], "INR")
print("Quantity: ", ui_quant)
print("*" * 30)
print("Billing Amount: ", records[ui_prod]['cost'] * ui_quant, "INR")
print("*" * 30)

records[ui_prod]['qty'] = records[ui_prod]['qty'] - int(ui_quant)

Enter the product_Id: 1024
Enter the quantity: 5
******************************
Product:  POVA 2
Company:  Tecno
RAM:  8 GB
Price:  10999 INR
Quantity:  5
******************************
Billing Amount:  54995 INR
******************************

In [43]:
js = json.dumps(records)

fd = open("invent.json",'w')
fd.write(js)
fd.close()

In [44]:
sales = {'Product_ID' : ui_prod, 'Name' : records[ui_prod]['name'], 'Company' : records[ui_prod]['company'], 'Qty' : ui_quant, 'Amount': records[ui_prod]['cost'] * ui_quant}
sale = json.dumps(sales)
fd = open("sales.json",'w')
fd.write(sale)
fd.close()